header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: yellowgreen;
    color: #fff;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 300px;
    height: 350px;
  }
  
  /* styling for the menu button */
  .menu-button {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      padding: 10px;
      background-color: #333;
      color: #fff;
      cursor: pointer;
      z-index: 9999;
    }
    
    /* styling for the menu items */
    .menu-items {
      display: none;
      position: fixed;
      left: 0;
      top: 50px;
      width: 200px;
      background-color: #eee;
      padding: 10px;
      z-index: 9998;
    }
    
    /* styling for the active menu items */
    .menu-items.active {
      display: block;
    }
    
    /* styling for the menu links */
    .menu-link {
      display: block;
      margin-bottom: 10px;
      color: #333;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
    }
    
    /* styling for the menu links when hovered */
    .menu-link:hover {
      text-decoration: underline;
    }

    .text-content{
        text-align: center;
    }

    /* */